/* 首页样式 */

/* 版心 (居中）*/
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部区域 */
.header {
    /* 宽度和浏览器一致 */
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    padding-top: 29px;
    display: flex;

}

/* logo */
.logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

/* nav区域 */
.nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;

}

.nav li {
    margin-right: 24px;
}

.nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

/* active 类选择器，默认选中的a */
.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a444;
}


/* 搜索 */
.search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
     
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;

    /* 去掉表单空间的焦点框 */
    outline: none;
}

/* ::placeholder 选中的就是placeholder属性文字样式 */
.search input::placeholder{
    font-size: 14px;
    color: #999;
}

/* 父级是flex布局，子级就变成了 弹性盒子: 加宽高自动生效 */
.search a {    
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
    align-self: center;
}

/* 用户区 */
.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    /* vertical-align 行内元素的垂直方向对齐方式 */
    vertical-align: middle;
    margin-right: 7px;
}

.user span{
    font-size: 16px;
    color: #666;
}



/* banner区域 */
.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}


/* 侧导航 */
.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}

.banner .left a {
    /* 块级：宽度是父级的100%, 更加方便*/
    display: block;
    height: 46px;
    line-height: 46px;
    color: #fff;
    font-size: 16px;

    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.banner .left a:hover{
    color: #00a4ff;
    background-image: url(../images/right-hover.png);

}


/* 课程表区域 */
.banner .right{
    margin-top: 60px;
    border-radius: 10px;

    width: 218px;
    height: 305px;
    background-color: #209dd5;
    
}

.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content{
    padding: 14px;

    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right dd span {
    color: #00a4ff;
}

.banner .right dd strong{
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a {
    display: block;
    /* 如果是block，宽默认会100%继承父类的（宽高都是content的） */
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    line-height: 32px;
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
}


/* 精品推荐区域 */
.recommend {
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.5);
}

.recommend h3{
    font-weight: 400;
    color: #00a4ff;
    font-size: 18px;
}

.recommend ul {
    /* 除去标题和修改兴趣的尺寸，父级剩余尺寸都给ul，实现把修改兴趣挤到最右侧 */
    flex: 1;
    display: flex;
}

.recommend ul li a {
    padding: 0 24px;
    font-size: 18px;
    /* 在a内 不在li内加border，是因为a是行内元素，边的高度可以和字体一致 */
    border-right: 1px solid #e0e0e0;
}

/* 注：last-child 是sibling elements中的最后一位 */
.recommend ul li:last-child a{
    border-right: none;
}

.recommend .modify{
    font-size: 16px;
    color: #00a4ff
}



/* 精品课程区域 */
.course {
    margin-top: 15px;
}


/* 标题- 【公共类】， 与其他区域共用 */
.hd {
    display: flex;
    justify-content: space-between;

    height: 60px;
    line-height: 60px;
}

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.hd .more {
    background-image: url(../images/more.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    font-size: 14px;
    color: #999;
}


/* 课程内容 -【公共类】 */
.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: pink;
}

.bd li .pic {
    height: 156px;

}

.bd li .text{
    padding: 20px;

    height: 115px;
    background-color: #fff;
}

.bd li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bd li .text p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}


.bd li .text p span {
    color: #fa6400;
}

.bd li .text p i {
    font-style: normal;
}