/* 首页样式 */

/* 版心 (居中）*/
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部区域 */
.header {
    /* 宽度和浏览器一致 */
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    padding-top: 29px;
    display: flex;

}

/* logo */
.logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

/* nav区域 */
.nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;

}

.nav li {
    margin-right: 24px;
}

.nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

/* active 类选择器，默认选中的a */
.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a444;
}


/* 搜索 */
.search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
     
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;

    /* 去掉表单空间的焦点框 */
    outline: none;
}

/* ::placeholder 选中的就是placeholder属性文字样式 */
.search input::placeholder{
    font-size: 14px;
    color: #999;
}

/* 父级是flex布局，子级就变成了 弹性盒子: 加宽高自动生效 */
.search a {    
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
    align-self: center;
}

/* 用户区 */
.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    /* vertical-align 行内元素的垂直方向对齐方式 */
    vertical-align: middle;
    margin-right: 7px;
}

.user span{
    font-size: 16px;
    color: #666;
}



/* banner区域 */
.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}


/* 侧导航 */
.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}

.banner .left a {
    /* 块级：宽度是父级的100%, 更加方便*/
    display: block;
    height: 46px;
    line-height: 46px;
    color: #fff;
    font-size: 16px;

    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.banner .left a:hover{
    color: #00a4ff;
    background-image: url(../images/right-hover.png);

}

